body{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: hsl(0, 0%, 95%);
}

#calculator{
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 370px;
  overflow: hidden;
}

#display{
  width:100%;
  padding: 20px;
  font-size: 60px;
  text-align: left;
  border: none;
  background-color: rgb(28, 28, 28);
  color: white;

}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding: 25px;
}

button{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border:none;
  background-color: rgb(80, 80, 80);
  color:white;
  font-size:35px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
}

button:active{
  background-color: hsl(0, 0%, 50%);
}

.operator-btn{
  background-color: rgb(255, 149, 0);
}

.operator-btn:hover{
  background-color: rgb(255, 171, 53);
}

.operator-btn:active{
  background-color: rgb(253, 191, 105);
}
